.words {
    &-list {
        display: grid;
        grid-template-columns: repeat(5, minmax(200px ,1fr));
        gap: 15px;
        grid-auto-rows: 80px;
    }
    &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        padding-left: 40px;
        font-size: 24px;
        line-height: 1.4;
        border: 1px solid rgb(206, 212, 218);
        border-radius: 5px;
        background-color: #fff;
        transition: .3s;
        &:hover {
            box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
        }
        &__active {
            border: 1px solid rgb(0, 173, 159);
            background-color: rgba(0, 173, 159, .15);
        }
    }
    
    &-name {
        color: #0e1e25;
        font-size: 22px;
        padding: 0px 5px;
    }
    &-transcription {
        color: rgba(14, 30, 37, .7);
        font-size: 18px;
        padding: 0px 5px;
    }
}
.audio-icon {
    position: absolute;
    top: 18px;
    left: 10px;
    width: 34px;
    height: 34px;
}

